/* 
1. Reset
2. Colors and fonts
3. Page elements
4. Animations
5. Media queries
*/

/* 1. Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Colors and fonts */

:root {
    /* Primary colors */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    /* Secondary colors */
    --white: hsl(0, 0%, 100%);
    --dark-desat-blue: hsl(236, 21%, 26%);
    --very-dark-blue:  hsl(235, 16%, 14%);
    --mostly-dark-blue: hsl(234, 17%, 12%);
    --mountain-purple: #2F2439;
    --top-card-bg: hsl(245, 23%, 24%);
    --bottom-card-bg: hsl(245, 15%, 29%);
    /* Fonts */
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}

/* 3. Pages elements */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--white);
    height: 100vh;
    background-image: url('./images/bg-stars.svg'), url('./images/pattern-hills.svg'), linear-gradient(var(--very-dark-blue), var(--mountain-purple));
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top, bottom;
    text-align: center;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

h1 {
    letter-spacing: 0.8rem;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

p {
    color: var(--soft-red);
    font-size: 5rem;
    background-color: var(--grayish-blue);
    padding: 1.5rem 3rem;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1;
}

.top {
    height: 5rem;
    width: 12.5rem;
    background-color: var(--top-card-bg);
    border-radius: 15px 15px 0px 0px;
    border-bottom: inset 1px var(--mostly-dark-blue);
    position: relative;
    top: 5rem;
    z-index: 1;
}

.z3 {
    z-index: 3;
}

.z2 {
    z-index: 2;
}

.z1 {
    z-index: 1;
    transform: scale(1, 0);
}

.z0 {
    z-index: 0;
}

.bottom {
    width: 12.5rem;
    height: 10rem;
    border-radius: 15px 15px 15px 15px;
    background-color: var(--bottom-card-bg);
    box-shadow: 0px 8px var(--mostly-dark-blue);
}

h2 {
    margin-top: 1rem;
    color: var(--grayish-blue);
    font-size: inherit;
    letter-spacing: 0.2rem;
}
.social_media {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

img:hover {
    color: var(--soft-red);
    fill: var(--soft-red);
}

footer {
    position: relative;
    top: 8rem;
}

/* 4. Animations */

@keyframes flip-card-top {
    0% {
        transform-origin: bottom;
        transform: scale(1, 1);
    }

    50% {
        transform-origin: bottom;
        transform: scale(1, 0);
    }


    100% {
        transform-origin: bottom;
        transform: scale(1, 0);
    }
}

@keyframes flip-card-bottom {
    0% {
        transform-origin: center;
        transform: scale(1, 0);
    }
    
    50% {
        transform-origin: center;
        transform: scale(1, 0);
    }

    100% {
        transform-origin: center;
        transform: scale(1, 1);
    }
}

/* 5. Media queries */

/* Smartphones*/
@media screen and (max-width: 450px) and (orientation: portrait) {
    main {
        gap: 0.6rem;
    }
    
    p {
        font-size: 3.5rem;
        padding: 0.7rem 0;
    }
    
    h1 {
        font-size: 1.7rem;
        letter-spacing: 0.45rem;
    }
    
    h2 {
        font-size: 0.8rem;
        letter-spacing: 0.08rem;
    }
    
    .top {
        height: 3rem;
        width: 6rem;
        top: 3rem;
        border-radius: 6px 6px 0px 0px
    }
    
    .bottom {
        height: 6rem;
        width: 6rem;
        border-radius: 6px;
    }
}